/* BarChart.css */


.container {
  display: flex; 
  justify-content: center; /* center horizontally */
  align-items: flex-end; /* align items to the bottom */
  height: 300px;
  background-color:#FFFF00;
  padding: 20px;
  height: 400px;
}

.bar {
  width: 30px;
  height: 100px;
  margin: 0 5px;
  color: white;
  display: flex; /* align items vertically */
  justify-content: center; /* center horizontally */
  cursor: pointer; /* show pointer on hover */
  transition: height 0.3s; /* smooth transition */
}

.bar.even {
  background-color: black;
}

.bar.odd {
  background-color: white;
  color: black;
}

.bar.expanded {
  height: 300px;
}

.label {
  margin-top: 3px;
}
